{% extends 'admins/design1.html' %}
{% block adminblock %}
{% load staticfiles %}

<style>
    .userdetails{
     position: absolute;
    margin-top:50px;
    left:90px;
    padding:5px;
    height:480px;
    width:652px;
    overflow:auto;
    float:left;
    }
    .userdetails table{
    width:40em;
    text-align:center;
        background-color: BLACK;
    font-family: Aldrich;

    border-spacing:1px;
    background:;
}


.userdetails table tr th{
background:steelblue;
padding:5px;
}
.userdetails table tr td{
background:;
padding:5px;
}
.userdetails table tr:hover td{
background:rgba(50,205,50,.5);
}
.sideimage{
border-style:solid;
 border-width:1px;
 height:380px;
 width:400px;
 margin-top:35px;
 margin-left:830px;
 background: url("{% static 'download.jpg' %}");
 background-size: 100%100%;
float:left;
}

</style>
<div class="userdetails">
<table>
    <tr>
        <th>MALWARE NAME</th>
        <th>NETWORK TRAFIC POSSITION</th>
        <th>METHOD</th>

    </tr>
    {% for i in objects %}
    <tr>
    <td style="color:orange">{{i.attackresult}}</td>
    <td style="color:orange">{{i.method}}</td>
    <td style="color:pink">{{i.dcount}}</td>




    </tr>
    {% endfor %}
</table>
</div>
<div class="sideimage"></div>




{% endblock %}